
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add a DVD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("View all DVDs", "GetAllDVDs", "Home", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Search by Title", "SearchByTitle", "Home", new { area = "" }, new { @class = "navbar-brand" })

